.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-background-radius: 15;
    -fx-font-size: 16px;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 1);
    -fx-border-radius: 15;
    -fx-border-color: transparent;
    -fx-border-width: 2;
    -fx-max-width: USE_PREF_SIZE;

    -fx-alignment: CENTER_LEFT; /* ! ВАЖНО: текст слева по центру кнопки */
    -fx-content-display: LEFT; /* содержимое кнопки выравнивается слева */
}

.button:hover {
    -fx-background-color: #45A049;
}

.button:pressed {
    -fx-background-color: #3e8e41;
}
